In [10]:
print(1987423984723984798237489273948723847239874829374928374)
print(2)
print(3)
print(3.14)

1987423984723984798237489273948723847239874829374928374
2
3
3.14

In [13]:
print(type(3.14))

<class 'float'>

In [37]:
print(6 / 8)
print(9 * 10)
print(2 + 2)
print(23 ** 8)
print(pow(23, 8))
print(5 / 2)
print(5 % 2)

0.75
90
4
78310985281
78310985281
2.5
1

In [40]:
print(17894672987234987239847234 % 2)

0

In [48]:
print("Joel" " Taddei" "lkasjdlkasd")

Joel Taddeilkasjdlkasd

In [45]:
("joel likes" "pizza")

'joel likespizza'

In [51]:
print("My Mother's maiden name is O'Reilly")

My Mother's maiden name is O'Reilly

In [53]:
print('My Mother\'s maiden name is O\'Reilly')
print("""My Mother's maiden name is O'Reilly, and 
laksdjlkasjd

aksjdlkasjd
jklajsdas

asdher family motto was "Let's eat!" """)

My Mother's maiden name is O'Reilly
My Mother's maiden name is O'Reilly, and
laksdjlkasjd

aksjdlkasjd
jklajsdas

asdher family motto was "Let's eat!"

In [55]:
print(True)
print(False)

True
False

In [62]:
name = input('What is your name? ')

if name == "Joel":
    print("Welcome to your computer Joel!") 
elif name == "Aaron":
    print("Get off Joel's computer now.")
else:
    print("Welcome as a guest.")

What is your name? Joel
Welcome to your computer Joel!
Welcome as a guest.

In [75]:
name = input('What is your name? ')
age = int(input("What is your age? "))

if name == "Joel" and age == 32:
    print("Welcome to your computer Joel!") 
elif name == "Aaron":
    print("Get off Joel's computer now.")
else:
    print("Welcome as a guest.")

What is your name? Joel
What is your age? 32
Welcome to your computer Joel!

In [74]:
print("32")
print(32)
print(float("32.12312") + 32)
print(float(5))
print(str(3.5) + " is joel's GPA")

32
32
64.12312
5.0
3.5 is joel's GPA

In [83]:
gpa = 4.0

if gpa >= 3.5:
    print("deans list!")
else:
    print("the other deans list")

deans list!

In [91]:
my_list = ["item_one", 23, 13.13, 90, "joel"]

In [92]:
print(my_list)

['item_one', 23, 13.13, 90, 'joel']

In [94]:
print(my_list[::-1])

['joel', 90, 13.13, 23, 'item_one']

In [161]:
"My dear aunt sally"[::-1]

'yllas tnua raed yM'

In [99]:
my_tuple = ("item_one", 23, 13.13, 90, "joel")

In [103]:
my_tuple[::-1]

('joel', 90, 13.13, 23, 'item_one')

In [105]:
my_list.append("new_item")

In [106]:
my_list

['item_one', 23, 13.13, 90, 'joel', 'new_item']

In [109]:
my_list[0] = "new_first_item"

In [110]:
my_list

['new_first_item', 23, 13.13, 90, 'joel', 'new_item']

In [116]:
my_tuple

('item_one', 23, 13.13, 90, 'joel')

In [160]:
# dir(my_list)

In [120]:
x = ("first_item in tuple")

In [121]:
x[0]

'f'

In [129]:
for joel_item_xUjK in my_list:
    print("High Five @ ", joel_item_xUjK)

High Five @  new_first_item
High Five @  23
High Five @  13.13
High Five @  90
High Five @  joel
High Five @  new_item

In [131]:
for letter in "joel programs":
    print(letter)

j
o
e
l

p
r
o
g
r
a
m
s

In [140]:
my_dictionary = {"students": [{"name": "zach", "interests": ["hiking", "cooking"]}, {"name": "matt", "interests": []}]}

In [141]:
for student in my_dictionary["students"]:
    print(student['name'])
    print(student['interests'])

zach
['hiking', 'cooking']
matt
[]

In [142]:
my_next_dictionary = {"name": "joel", "age": 32, "fears": ["basketballs", "soccerballs"]}

In [145]:
my_next_dictionary["name"]

'joel'

In [147]:
def this_function():
    return 7 * 7

my_crazy_dictionary = {"func": this_function}

In [149]:
my_crazy_dictionary["func"]()

49

In [159]:
for item in my_dictionary['students']:
    print(item['name'])
    for interest in item['interests']:
        print(interest)

zach
hiking
cooking
matt

In [166]:
string_word = "Aslkd lkas jdlkasj dla"
print(string_word[0].lower() + string_word[1:])
print(string_word)

aslkd lkas jdlkasj dla
Aslkd lkas jdlkasj dla

In [173]:
ord("c")

99

In [184]:
for char in "joel":
    print(bin(ord(char))[2:])

1101010
1101111
1100101
1101100

In [194]:
bin(7)[2:]

'111'

In [203]:
counter = 0

while counter <= 10:
    print("aw yeah")
    counter += 11

aw yeah

In [231]:
import random

from random import randint

random.random()

0.8758902945985886

In [230]:
randint(1, 5)

4

In [267]:
import math

In [239]:
from random import *

In [265]:
from random import *

print(random())

def random():
    return 100

print(random())

0.3714946969642504
100

In [275]:
bool(math.nan)

True

In [273]:
(math.pi * 4) ** 2

157.91367041742973

In [276]:
bool(0.0)

False

In [277]:
bool(0)

False